
body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color:#E5E7EB;
    font-size: 18px;
}

.header{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 0px 300px 0px 300px;
    font-family:'Noto Sans','Open Sans', 'Lato';
    justify-content: flex-start;
}

.head{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.head h1{
    color:#E5E7EB;
    font-size: 18px;
}

ul{
    display: flex;
    gap: 16px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.boton{
    white-space: nowrap;
    background-color: #3882F6;
    outline: none;
    border: none;
    border-radius: 8%;
    width: auto;
    padding: 8px 16px 8px 16px;
    color: #F9FAF8;
}

#main{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

#secondary{
    font-size: 18px;
    color:#E5E7EB;
}















.info{
    display: flex;
    background-color: white;
    height: 300px;    
}

.quote{
    display: flex;
    background-color: #E5E7EB;
    height: 300px;    
}

.sign-up{
    display: flex;
    background-color: white; 
    height: 300px;   
}

.footer{
    display: flex;
    background-color: #1F2937; 
    height: 300px;   
}