
body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    background-color: #1F2937;
    height: 300px;
}

.info{
    display: flex;
    background-color: white;
    height: 300px;    
}

.quote{
    display: flex;
    background-color: #E5E7EB;
    height: 300px;    
}

.sign-up{
    display: flex;
    background-color: white; 
    height: 300px;   
}

.footer{
    display: flex;
    background-color: #1F2937; 
    height: 300px;   
}